@font-face {
        font-family: 'c10e-bold';
        font-style: normal;
        font-weight: normal;
        src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
        font-family: 'c10e-regular';
        font-style: normal;
        font-weight: normal;
        src: url(../fonts/Lato-Regular.ttf);
}

body {
        width: 100%;
        margin: 0px;
        overflow: hidden; 
        color: white;
        background-repeat: no-repeat;
        background-image: url("/images/flock-of-data-banner-01-1-1920x745.webp");
        background-size: cover;
        background-color: black;
}